<div class="footer">
    <div class="footer-top">
        <h1 class="footer-title">Contact Us</h1>
        <p class="footer-text">Phone: 123 456 7890</p>
        <p class="footer-text">Email: example@example.com</p>
        <p class="footer-text">Adress: 123 Johnny Street, Auckland</p>
    </div>

    <div class="footer-links">
        <a class="footer-link" href="/">Home</a>
        <a class="footer-link" href="/jobs">Jobs</a>
        <a class="footer-link" href="/past-jobs">Past Jobs</a>
        <a class="footer-link" href="/list-job">List a Job</a>
        <a class="footer-link" href="/inquiries">Inquiries</a>
        <a class="footer-link" href="/login">Login</a>
    </div>
</div>
