<!--Footer-->
<div class="footer">
    <!--Main content of the footer, consisting of contact information-->
    <div class="footer-top">
        <h1 class="footer-title">Contact Us</h1>
        <p class="footer-text">Phone: 123 456 7890</p>
        <p class="footer-text">Email: example@example.com</p>
        <p class="footer-text">Adress: 123 Johnny Street, Auckland</p>
    </div>

    <!--Links at the bottom of the footer for access to the other pages of the site-->
    <div class="footer-links">
        <a class="footer-link" href="{{ url_for('root') }}">Home</a>
        <a class="footer-link" href="{{ url_for('jobs') }}">Jobs</a>
        <a class="footer-link" href="{{ url_for('past_jobs') }}">Past Jobs</a>
        <a class="footer-link" href="{{ url_for('list_job') }}">List a Job</a>
        <a class="footer-link" href="{{ url_for('inquiries') }}">Inquiries</a>
        <a class="footer-link" href="/login">Login</a>
    </div>
</div>
