{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="index-main-content">
        <div class="home-left">
            <p class="home-txt">Your first step to the working world</p>
            <a href="/jobs"><button class="home-job-btn">View Jobs</button></a>
        </div>

        <div class="home-right">
            <img class="home-img" src="static/images/home-img.webp" alt="girl with red cap smiling">
        </div>
    </div>

    <div class="home-main-2">
        <div class="info">
            <p class="info-txt"><b class="home-bold-txt">Find small jobs</b><br>Find simple tasks and short term jobs that fit around school, hobbies, and your free time.</p>
        </div>

        <div class="info">
            <p class="info-txt"><b class="home-bold-txt">Earn and gain experience</b><br>Earn some extra money while building useful skills and getting real world experience.</p>
        </div>

        <div class="info">
            <p class="info-txt"><b class="home-bold-txt">Help your community</b><br>Connect with people who need a hand with everyday tasks, from gardening and cleaning to odd jobs and more.</p>
        </div>
    </div>

{% endblock %}
