{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="index-main-content">
    <div class="home-left">
        <p class="home-txt">Your first step to the working world</p>
        <a href="/jobs"><button class="home-job-btn">View Jobs</button></a>
    </div>

    <div class="home-right">

    </div>
</div>

<div class="home-main-2">
    <div class="info">
        <p>Info</p>
    </div>

    <div class="info">
        <p>More info</p>
    </div>

    <div class="info">
        <p>Even more info</p>
    </div>
</div>

{% endblock %}
