{% extends 'layout.html' %}

{% block title %} Inquiries {% endblock %}

{% block content %}

    <h1 class="inquiry-top-title">My inquiries</h1>
    {% if my_inquiries %}

        <div class="inquiries-top">
            {% for inquiry in my_inquiries %}
                <div class="my_inquiry">
                    <div class="my-inquiry-left">
                        <h1 class="my-inquiry-title">{{ inquiry['job_title'] }}</h1>
                        <p class="my-inquiry-p">Description: {{ inquiry['job_desc'] }}</p>
                        <p class="my-inquiry-p">Location: {{ inquiry['job_location'] }}</p>
                        <p class="my-inquiry-p">Name: {{ inquiry['lister_name'] }}</p>
                        <p class="my-inquiry-p">Email: {{ inquiry['lister_email'] }}</p>
                        <p class="my-inquiry-p">Pay: ${{ inquiry['pay'] }}</p>
                    </div>

                    <div class="my-inquiry-right">
                        <h1 class="inquiry-details-title">Inquiry Details</h1>
                        <p class="my-inquiry-p">My phone number: {{ inquiry['phone'] }}</p>
                        <p class="my-inquiry-p">My reason: {{ inquiry['why'] }}</p>
                        <p class="my-inquiry-p">Time that best suits me: {{ inquiry['time'] }}</p>
                        {% if inquiry['status'] =='accepted' %}
                            <div class="inquiry-accepted">
                                <h1 class="accepted-title">Your inquiry was accepted</h1>
                                <p class="inquiry-accepted-p">{{ inquiry['lister_name']}} accepted your inquiry. They will be in touch soon via phone or email.</p>
                                <a href="/ok-pressed/{{ inquiry['inquiry_id'] }}"><button class="ok-btn">ok</button></a>
                            </div>

                        {% elif inquiry['status'] =='declined' %}
                            <div class="inquiry-declined">
                                <h1 class="declined-title">Your inquiry was declined</h1>
                                <p class="inquiry-declined-p">
                                    Unfortunately, {{ inquiry['lister_name'] }} declined your inquiry.
                                </p>
                                <a href="/ok-pressed/{{ inquiry['inquiry_id'] }}"><button class="ok-btn">OK</button></a>
                            </div>

                        {% else %}
                            <p class="my-inquiry-p" id="my-inquiry-status">Status: {{ inquiry['status'] }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p class="no-inquiries">You have no inquiries.</p>
        {% endif %}
    </div>

    <div class="inquiries-bottom">
        <h1 class="inquiry-bottom-title">Pending inquiries</h1>
        {% if pending_inquiries %}

            {% for inquiry in pending_inquiries %}
                <div class="my_inquiry">
                    <div class="my-inquiry-left">
                        <h1 class="my-inquiry-title">{{ inquiry['job_title'] }}</h1>
                        <p class="my-inquiry-p">{{ inquiry['job_desc'] }}</p>
                        <p class="my-inquiry-p">Location: {{ inquiry['job_location'] }}</p>
                        <p class="my-inquiry-p">Name: {{ inquiry['lister_name'] }}</p>
                        <p class="my-inquiry-p">Email: {{ inquiry['lister_email'] }}</p>
                        <p class="my-inquiry-p">Pay: ${{ inquiry['pay'] }}</p>
                    </div>

                    <div class="my-inquiry-right">
                        <h1 class="inquiry-details-title">Inquiry Details</h1>
                        <p class="my-inquiry-p">Applicant name: {{ inquiry['applicant_name'] }}</p>
                        <p class="my-inquiry-p">Applicant email: {{ inquiry['applicant_email'] }}</p>
                        <p class="my-inquiry-p">Applicant phone number: {{ inquiry['phone'] }}</p>
                        <p class="my-inquiry-p">Applicant reason: {{ inquiry['why'] }}</p>
                        <p class="my-inquiry-p">Time that best suits the applicant: {{ inquiry['time'] }}</p>
                        <a href="/accept-inquiry/{{ inquiry['inquiry_id'] }}"><button class="accept-inquiry-btn">Accept</button></a>
                        <a href="/decline-inquiry/{{ inquiry['inquiry_id'] }}"><button class="decline-inquiry-btn">Delcine</button></a>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <p class="no-inquiries">You have no pending inquiries.</p>
        {% endif %}
    </div>

{% endblock %}
