{% extends 'layout.html' %}

 {% block title %} Login {% endblock %}

 {% block content %}

    <div class="login-container">
        <form class="login-form" method="POST" action="/logon">
            <h1 class="login-title">Login to your account</h1>
            <p id="email-txt" class="login-txt">Email</p>
            <input id="email-input" class="login-input" placeholder="example@example.com" type="email" name="email" required>
            <p id="pwd1-txt" class="login-txt">Password</p>
            <input id="login-pwd-input" class="login-input" placeholder="Enter your password" name="pwd" type="password" required>
            {% if error %}
                <p class="login-error">{{ error }}</p>
            {% endif %}
            <button class="login-submit-btn" type="submit">Login</button>
            <a class="login-link" href="/signup">Don't have an account? Signup</a>
        </form>
    </div>

 {% endblock %}
