
<div class="nav-bar">
    <a><h1 class="nav-title">JobStart</h1></a>
    <a class="nav-link" href="/" id="nav-home-link">Home</a>
    <a class="nav-link" href="/jobs">Jobs</a>
    <a class="nav-link" href="/past-jobs">Past Jobs</a>
    <a class="nav-link" href="list-job">List a Job</a>
    <a class="nav-link" href="/inquiries">Inquiries</a>
    {% if session.get('user_email') %}
        <a href="/logout"><button class="login-nav-btn">Logout</button></a>
    {% else %}
        <a href="/login"><button class="login-nav-btn">Login</button></a>
    {% endif %}

</div>
  
